<div class="row">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Editing Invoice no: <%= @invoice.reference_number %></h3>
  </div>
  <div class="panel-body">
  <%= simple_form_for @invoice do |f|  %>
  <%= f.input :reference_number %>
  <%= f.input :issue_date, as: :date, html5: true %>
  <%= f.input :due_date, as: :date, html5: true %>
  <%= f.input :status %>
  <%= f.input :tax %>
  <%= f.input :discount %>
  <%= f.input :net_amount %>
  <%= f.input :gross_amount %>
  <%= f.input :paid_amount %>
  <%= f.input :currency %>
  </div>
  <div class="panel-footer"><%= f.button :submit %></div>
<% end %>
</div>
<%= link_to "All invoices", invoices_path  %>
</div>
